.soonjung-1{
    position: relative;
    text-align: center;
    top: 60px;
}

h2{ font-size: 14px;}

.viewmore{
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-top: 40px; /* 상단 여백 설정 */
    margin-bottom: 110px; /* 하단 여백 설정 */
    margin-left: auto; /* 좌우 중앙 정렬을 위한 설정 */
    margin-right: auto; /* 좌우 중앙 정렬을 위한 설정 */
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #1C1C1C;
    opacity: 0.9;
}

.button {
    color: white; /* 텍스트 색상 설정 */
    font-size: 20px; /* 텍스트 크기 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    width: 100%; /* 버튼이 viewmore 너비를 가득 채우도록 설정 */
    height: 100%; /* 버튼 높이를 viewmore와 같게 설정 */
    display: flex; /* 버튼 내부도 Flexbox 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}

.soonjung-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 두 열로 구성 */
    gap: 50px; /* 이미지 사이의 간격 */
    width: 1000px; 
    float: right;
    margin-right: 100px;
  }
  
.soonjung-item img {
    width: 100%; /* 이미지를 각 그리드 셀의 너비에 맞춤 */
  }
  