.makeup-look{
    position: relative;
    /*border: 1px solid red;*/
    background-image: url(../../images/overglowy_makeup_bg.jpg);
}

.makeup-1{
    position: relative;
    text-align: center;
    top: 60px;
}

h2{ font-size: 14px;}

.viewmore{
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-top: 40px; /* 상단 여백 설정 */
    margin-bottom: 110px; /* 하단 여백 설정 */
    margin-left: auto; /* 좌우 중앙 정렬을 위한 설정 */
    margin-right: auto; /* 좌우 중앙 정렬을 위한 설정 */
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #1C1C1C;
    opacity: 0.9;
}

.button {
    color: white; /* 텍스트 색상 설정 */
    font-size: 20px; /* 텍스트 크기 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    width: 100%; /* 버튼이 viewmore 너비를 가득 채우도록 설정 */
    height: 100%; /* 버튼 높이를 viewmore와 같게 설정 */
    display: flex; /* 버튼 내부도 Flexbox 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}

.makeup-2{
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-top: 120px; /* 상단 여백 설정 */
}

.makeup-3{
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-top: 120px; /* 상단 여백 설정 */
}
