/* ===== 수정사항 =====  */
.contents {
    position: relative;
    background-color: #fbf3eb; /* 영역 확인을 위한 배경색 */
    height: 800px;
}

.best{
    position: relative;
    top: 150px;
    /*border: 1px solid red;*/
}

/* ===== 수정사항 =====  */
/* .best-bg{
    position: absolute;
    background-color: #fbf3eb;
    width: 1560px;
    height: 500px;
}
*/

/* ===== 수정사항 =====  */
/* .best-item{
    position: absolute;
    display: flex;
    border: 1px solid red;
    top: 100px;
    left: 140px;
    text-align: center;
    z-index: 4;
    cursor: pointer;
} */

/* ===== 수정사항 =====  */
.image-grid {
    display: flex; /* 플렉스박스 레이아웃 활성화 */
    justify-content: space-between; /* 여백을 균등하게 분배 */
}

/* ===== 수정사항 =====  */
.image-item {
    width: calc(33.33%); /* 각 이미지 항목의 너비 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    cursor: pointer;
}

/* ===== 수정사항 =====  */
.image-item img {
    width: 100%; /* 부모 요소의 너비에 맞게 조정 */
}